.root {
  
}

.logo {
  position: relative;
  /* padding: 10px 15px; */
}

.logo img {
  width: 100%;
  height: 120px;
}

.list {
  /* padding: 10px; */
}

.item_link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 2px solid transparent;
  background-color: var(--color-black-1);
  transition: 0.3s;

  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.item_link:hover {
  color: var(--color-white);
  background-color: var(--color-blue-6);
}
.item_link:hover .icon path {
  fill: var(--color-white);
}
.item_link_active {
  border-left: 6px solid var(--color-white);
  background-color: var(--color-blue-6);
  padding-left: 14px;
}
.item_link_active .icon path {
  fill: var(--color-white);
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.icon path {
  fill: var(--color-white);
  transition: 0.3;
}