:root {
  --color-blue-1: #0E51A7;
  --color-blue-2: #274D7E;
  --color-blue-3: #05326D;
  --color-blue-4: #4282D3;
  --color-blue-5: #6997D3;
  --color-blue-6: #6997d360;
  --color-blue-7: #001d3d;
  --color-blue-8: #0d0c1d;

  --color-black-1: #00031e;
  
  --color-gray-1: #646464;

  --color-yellow-1: #fca311;

  --color-white: #fff;
  --color-black: #000;
}
body {
  margin: 0;
  font-family: 'GT Eesti Pro Text';
  background-color: #f0f0f0;
}