.imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_block img {
    width: 300px;
    height: 150px;
}

.filter {
 margin-top: 10px;
}

/* посты */
.posts {
  margin-top: 10px;
}

.post {
  margin-top: 10px;
  border: 1px solid var(--color-blue-1);
  background-color: #fff;
  width: 100%;
  padding: 10px 11px;

  -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.3);
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-blue-1);
  margin-bottom: 5px;
  color: var(--color-blue-1);
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}